html {
  width: 96%;
  height: 1100px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 2em;
  line-height: 1.2em;
  background: linear-gradient(.45deg, #E73C7E, #464646, #141414);
  color: white;
}

h1 {
  margin-bottom: .5em;
  color: white;
}

h2 {
  margin: 0;
}

h3 {
  border-bottom: .175em solid white;
  padding-left: .75em;
  padding-bottom: .2em;
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 1.35em;
  color: white;
}

h4 {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: .675em;
}

p {
  margin-top: 0;
  margin-bottom: .675em;
}

code {
  background-color: rgb(230,230,230);
}

header {
  margin-bottom: .5em;
}

section {
  margin-bottom: 1.5em;
}

section .inner {
  padding: 0 .9em;
}

section .inner .tricolumn {
  display: flex;
  justify-content: center;
}

section .inner .tricolumn :first-child {
  margin-right: auto;
}

section .inner .tricolumn :last-child {
  margin-left: auto;
}

section .inner .tricolumn p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.05em;
}

section .inner a {
  font-style: italic;
  color: #02c0fd;
  text-decoration: inherit;
  transition: .5s;
}

section .inner a:hover {
  color: rgba(255, 255, 255, 0.279);
}

section .inner a:last-of-type {
  margin-bottom: .25em;
}

header>.top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: .25em;
}

header>.top a {
  color: inherit;
  text-decoration: inherit;
}

header>.top>.left {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

header>.top>.right {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

header>.bottom h2 {
  text-align: center;
}

footer {
  background: none;
  padding-top: 0em;
  padding-bottom: 0px;
  border-top: 5px;
}

footer a {
  color: #d1d1d1;
  text-decoration: none;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

.footer-box {
  width: 30%;
  padding: 0%;
  float: left;
  margin-top: 4%;
  margin-left: 10%;
}

footer .wrapper:after {
  clear: both;
  content: "";
  display: block;
}

.img-footer {
  display: flex;
  width: 80%;
}
.img-footer>img {
  max-width: 250px;
  height: 190px;
  border-radius: 180%;
  border-style: solid;
}

.footer-list li {
  margin-bottom: 20px;
  height: 60px;
}

.footer-list li::after {
  clear: both;
  content: "";
  display: block;
}

.footer-list-contact li {
  height: 96px;
  font-size: 30px;
  
}
.wpp {
  transition: .5s;
}
.wpp:hover {
  color: #25D366;
}

.linkedin {
  transition: .5s;
}
.linkedin:hover {
  color: #008BF5;
}

.github {
  transition: .5s;
}
.github:hover {
  color: black;
}

.mail {
  transition: .5s;
}
.mail:hover {
  color: red;
}

.fab {
  font-size: 30px;
  margin-top: 30px;
  float: left;
}


#projects .inner {
  max-height: 30em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#projects .inner .wrap {
  width: 47.5%;
}

#projects .inner .wrap ul {
  margin-top: .125em;
}

.wrapper {
  max-width: 900px;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 300px) and (max-width: 650px) {
  body {
    width: 70%;
    height: 100%;
  }
  .bottom h2 {
    font-size: 12px;
  }

  footer {
    width: 100%;
  }

  footer .wrapper {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  main {
    width: 100%;
  }

  section {
    width: 100%;
    height: 100%;
    font-size: 9px;

  }

  #projects .inner .wrap ul {
    width: 80%;
  }
  html {
    width: 80%;
  }

  #education .inner .wrap ul {
    padding-top: 100px;
    width: 20%;
  }
}

